{
  "env": {
    "browser": true,
    "es2021": true
  },
  "eslint no-trailing-spaces": ["error", { "skipBlankLines": false }],
  "ignorePatterns": ["node_modules", "dist", "build"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "prettier", "import"],
  "rules": {
    "indent": "off",
    "eslint newline-after-var": ["error", "always"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "linebreak-style": 0,
    "no-tabs": "off",
    "no-alert": "off",
    "quotes": ["error", "single"],
    "jsx-a11y/control-has-associated-label": [
      2,
      {
        "labelAttributes": ["label"],
        "controlComponents": ["CustomComponent"],
        "ignoreElements": ["audio", "canvas", "embed", "input", "textarea", "tr", "video"],
        "ignoreRoles": [
          "grid",
          "listbox",
          "menu",
          "menubar",
          "radiogroup",
          "row",
          "tablist",
          "toolbar",
          "tree",
          "treegrid"
        ],
        "depth": 3
      }
    ],
    "react/button-has-type": [
      "enabled",
      {
        "button": "boolean",
        "submit": "boolean",
        "reset": "boolean"
      }
    ],
    "jsx-a11y/no-autofocus": [
      2,
      {
        "ignoreNonDOM": true
      }
    ],
    "semi": ["error", "always"],
    "react/react-in-jsx-scope": "off",
    "react/prop-types": 0,
    "import/no-unresolved": [
      2,
      {
        "caseSensitive": false
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/order": [
      2,
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
